#map {
    height: 65%;
    width: 75%;
    margin: 0 auto;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

#heading{
  font-family: 'Kreon', serif;
  font-size: 35px;
  color: #d9edf7;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid #d9edf7;
  width: 65%;
  text-align: center;
  margin-bottom: 17px;
  margin-top: 25px;
}
